{% extends "base_popup.html" %}
{% load i18n %}
{% load socialaccount %}
{% block head_title %}
    {% trans "Account Connections" %}
{% endblock %}
{% block content %}
    <div class="social-connections-container">
        <div class="connections-section">
            <h3>{% trans "Account Connections" %}</h3>
            {% if form.accounts %}
                <p>{% trans "You have the following third-party accounts connected:" %}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <ul class="connected-accounts">
                        {% for base_account in form.accounts %}
                            {% with base_account.get_provider_account as account %}
                                <li>
                                    <label>
                                        <input type="radio" name="account" value="{{ base_account.id }}">
                                        {{ account.get_brand.name }} ({{ account }})
                                    </label>
                                </li>
                            {% endwith %}
                        {% empty %}
                            <li>{% trans "No connected accounts." %}</li>
                        {% endfor %}
                    </ul>
                    <button type="submit" name="action_remove" class="remove-btn">{% trans "Remove" %}</button>
                </form>
            {% else %}
                <p>{% trans "You currently have no third-party accounts connected to this account." %}</p>
            {% endif %}
            <h4 style="margin-top:2em;">{% trans "Add a Third-Party Account" %}</h4>
            <a href="{% provider_login_url 'google' process='connect' %}"
               style="margin-top:10px">Sign in with Google</a>
        </div>
        <button type="button"
                class="close-btn"
                onclick="window.close();"
                style="margin-bottom: 1em">Close Window</button>
    </div>
{% endblock %}
